body {
    background-color: #313360;
    background-size: cover;
    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
    margin: 0;
}

h1 {
    color: #fff;
    text-align: center;
}  

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

th {
    background: #9d9c8f;
    color: #fff;
    padding: 10px;
}

td {
    background: #fff;
    padding: 10px;
}

button {
    background-color: #313360;
    border-style: none;
    border-radius: 5px;
    color: #fff;
}

button:hover {
    background-color: #fff;
    color: #313360;
}

span {
    color: #fff;
}

div#header {
    background-color: #17194c;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    padding: 10px 20px 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

#header img {
    height: 100%;
}