html {
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 106.25%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    font-size: 17px;
    font-weight: 400;
    font-family: "Helvetica","Arial",sans-serif;
    background-color: #313360;
    color: #fff;
    font-style: normal;
    margin: 0;
    padding: 0
}

h1 {
    text-align: center;
}

a {
    color: #fff;
    font-size: x-large;
    text-decoration: none
}

table {
    table-layout: fixed;
    text-align: center;
    width: 100%
}

th {
    background: #9d9c8f
}

td {
    background: #fff
}

button {
    border: 2px solid transparent;
    width: 100%;
    height: 125px;
    border-radius: 5px;
    background: #313360;
    color: #fff;
    cursor: pointer
}

button:hover {
    border: 2px solid #313360;
    background: #fff;
    color: #313360
}

.result {
    background-color: #9d9c8f;
    text-align: center;
    margin: 5px;
    padding: 2px;
}

header {
    width: 100%;
    height: 50px;
    padding: 5px 0;
    background-color: #17194c;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #17194c;
    color: white;
    text-align: center;
    bottom: 0;
}

ul.footer-links li {
    display: inline;
}